{{! <header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__list__item"><a href="#">TRANG CHỦ</a></li>
            <li class="header__list__item"><a href="#">GIỚI THIỆU</a></li>
            <li class="header__list__item"><a href="#">DỊCH VỤ FACEBOOK</a></li>
            <li class="header__list__item"><a href="#">CÔNG CỤ FACEBOOK</a></li>
            <li class="header__list__item"><a href="#">NẠP TIỀN</a></li>
            <li class="header__list__item"><a href="#">LIÊN HỆ</a></li>
        </ul>
    </div>
</header> }}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="container-fluid">
            {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DỊCH VỤ FACEBOOK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CÔNG CỤ FACEBOOK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NẠP TIỀN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LIÊN HỆ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>