<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-title" content="THAbet Web" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="mobile-web-app-capable" content="no" />
    <meta name="application-name" content="THAbet Web" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/THA_VN/apple-icon2-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/THA_VN/apple-icon2-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/THA_VN/apple-icon2-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/THA_VN/apple-icon2-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/THA_VN/apple-icon2-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/THA_VN/apple-icon2-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/THA_VN/apple-icon2-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/THA_VN/apple-icon2-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/THA_VN/apple-icon2-180x180.png" />
    <link rel="icon" type="image/png" sizes="180x180" href="/images/THA_VN/apple-icon2-180x180.png" />
    <meta name="robots" content="all" />
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <title>ĐĂNG K&#221; HỘI VI&#202;N</title>

    <script type="text/javascript">
        var Is666 = "False" == "True";
        var IsTest = "False" == "True";
        var gameCode = 5;
        var activitySiteSwitch = "True" == "True";
        var streamerGiftSwitch = "True" == "True";
        var IsMHomePage = "False" == "True";
        var PageName2 = "add1";
    </script>
    <link href="/Mobile/Styles/m_main.75ac92ab41b60780.css" rel="stylesheet" />
    <link href="/Mobile/Styles/m_home.008d5a08d20db3dd.css" rel="stylesheet" />
    <link href="/Mobile/Styles/THA/m_skin.767124853fd682f7.css" rel="stylesheet" />
    <link href="/Mobile/Styles/m_skin_vn.11521c077c2f35cc.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/lang.76072610cddda427.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.min.d42774aeae6edbc0.js"></script>
    <script type="text/javascript" src="/Scripts/layer/layer.7133d392c3ae01bd.js"></script>
    <script type="text/javascript" src="/Scripts/md5.93b0031161f08e7c.js"></script>
    <script type="text/javascript" src="/Mobile/Scripts/vhCheck.min.a77713dbc4c4d40e.js"></script>
    <script type="text/javascript" src="/Mobile/Scripts/m_common.6594fe85e9c33dd8.js"></script>
    <script type="text/javascript" src="/Mobile/Scripts/m_ArtDemo.6b24a36684579b34.js"></script>
    <script type="text/javascript" src="/Mobile/Scripts/m_custom.e3a3105269579097.js"></script>
    <script type="text/javascript" src="/Scripts/common/add_jh.a9dbec030117704a.js"></script>
    <script type="text/javascript" src="/Scripts/longbow.slidercaptcha.5520afcb64f6e304.js"></script>
    <script type="text/javascript" src="/Mobile/Scripts/m_cash.bebc215a71fa1809.js"></script>
    <script type="text/javascript" src="/Scripts/common/propublic.min.69de2e1c640c38ed.js"></script>
    <script type="text/javascript" src="/Scripts/dateRelation.d5fcbbad6cd684a4.js"></script>
    <script type="text/javascript" src="/Mobile/Scripts/exif.fee5c1e82e71a069.js"></script>
    <link href="/Mobile/Styles/THA/login_home.78a24adf01750393.css" rel="stylesheet" />
    <link href="/Styles/slidercaptcha.48185d75ab3c0b78.css" rel="stylesheet" />
    <link href="/Styles/common/font-awesome/css/font-awesome.min.0cc127b6aa5a3592.css" rel="stylesheet" />
    <link href="/Mobile/Styles/THA/login_main.3055404d2dafa496.css" rel="stylesheet" />
    <link href="/Mobile/Styles/UploadIC/m_uploadIC.a66626c75ec23fd2.css" rel="stylesheet" />
    <link href="/Mobile/Styles/UploadIC/m_uploadIC_yn.15a4e640d66aef36.css" rel="stylesheet" />
    <link href="/Scripts/layer/theme/style.5ff1793dcb857348.css" rel="stylesheet" />
    <style>
        /*圖形驗證碼CSS*/
        /*.slidercaptcha{margin:0 auto;width:314px;height:286px;border-radius:4px;box-shadow:inset 0 0 0px 50px #fff;}*/
        /*.slidercaptcha .card-body{background-color:#fff;}*/
        .slidercaptcha canvas:first-child {
            border-radius: 4px;
            border: 1px solid #e6e8eb
        }

        .slidercaptcha.card .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            border-bottom: 1px solid rgba(0, 0, 0, .125);
            background-image: none;
            background-color: #fff;
            text-align: center;
            font-size: 18px;
        }

        .phoneverify .num_keyboard {
            margin-top: 0%;
            margin-bottom: 5%;
        }

        .sliderContainer {
            min-height: 40px;
        }

        .error_login_t.extralayer {
            position: relative;
            top: -7px;
        }

        .card-body {
            position: relative;
        }

        #captcha2 {
            width: 100%;
            height: 210px;
            position: absolute;
            top: 0;
            display: none;
        }

        .error_login_t {
            left: 0;
            text-align: left;
            margin-top: 3px;
            margin-bottom: 10px;
        }
    </style>

    <link href="/Mobile/Styles/m_join.49871963ec2068c3.css" rel="stylesheet" />
    <style type="text/css">
        .popup_container {
            display: table !important;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .popup_bg {
            display: none;
            display: table-cell;
            vertical-align: middle;
        }

        .form li[class*="error"] {
            border-bottom: none !important;
            border-top: 1px solid #ff3b30 !important;
        }

        .signMsg2 {
            text-indent: unset;
            padding-left: 10px;
            background-color: #2F7EC1;
            z-index: 1;
            width: unset;
            top: 10px;
        }

        .signMsg:before {
            border-color: transparent #2F7EC1 transparent transparent;
            border-width: 10px 10px 10px 10px;
            right: unset;
            left: 1px;
        }

        @media (min-width: 768px) {
            .signMsg:before {
                border-width: 18px 18px 0px 18px;
            }
        }

        .caretMask:after {
            margin-bottom: 1%
        }

        .error_t {
            bottom: -10px !important;
            margin-bottom: 10px;
        }

        .li_msg {
            border-bottom: 0px !important;
            margin-top: 0px !important;
            min-height: 20px !important;
            display: block !important;
        }

        .bottom_seat {
            height: 0px !important;
        }

        .btn_confirm_captcha {
            width: 90px;
            top: unset;
        }
    </style>


    <style type="text/css">
        .phoneTime {
            right: 17% !important;
        }

        @media (min-width: 400px) {
            .bg_header_logo {
                font-size: 1.05em;
            }
        }

        @media (min-width: 760px) {
            .bg_header_logo {
                font-size: 0.63em;
            }
        }

        .error_t {
            width: fit-content;
            display: block;
            float: left;
            position: relative !important;
            margin-top: 1px;
            bottom: 0px !important;
        }

        .terms_confirm_word {
            padding-left: 0px !important;
        }

        #txtimg {
            height: 18px !important;
            margin-right: 1% !important;
        }
    </style>
    <style type="text/css">
        .sliderText {
            padding-left: 30px;
        }
    </style>

    <style>
        .Btn_maintain {
            width: 60%;
            right: 20%;
            padding-left: 25px;
        }

        .txtPhoneVerify {
            font-size: 13px;
        }

        @media (min-width: 768px) {
            .Btn_maintain {
                width: 60%;
                right: 20%;
                padding-left: 0px;
            }
        }

        @media (max-width: 370px) {
            .inforMDropB .btn_backAll {
                width: 98%
            }
        }
    </style>

    <style>
        .inforMDrop:before {
            right: calc(4% + -4px);
        }

        /*除【首頁】外，下拉選單箭頭對齊白色箭頭*/
        @media (min-width: 360px) {
            .inforMDrop:before {
                right: calc(4% + -1px);
            }
        }

        @media (min-width: 400px) {
            .inforMDrop:before {
                right: calc(4% + -3px);
            }
        }

        @media (min-width: 700px) {
            .inforMDrop:before {
                right: calc(4% + -2px);
            }
        }

        @media (min-width: 768px) {
            .inforMDrop:before {
                right: calc(4% + 1px);
            }
        }
    </style>

    <style>
        html {
            display: none;
        }
    </style>
    <script type="text/javascript">
        try {
            if (self.location.origin == top.location.origin) {
                document.documentElement.style.display = 'block';
            } else {
                top.location = self.location;
            }
        } catch (err) {
            top.location = self.location;
        }
    </script>

    <script type="text/javascript">
        //當點擊遊覽器自帶返回上一頁/下一頁按鈕，判斷是否相同賬號，否則刷新頁面防止讀取頁面緩存
        var IsPageHide = false;
        function checkCookieTime() {
            var cookieTime = $.cookie("cookielt");
            var sessionTime = "";
            if (cookieTime == null) {
                cookieTime = "";
            }
            if (cookieTime != sessionTime) {
                if (isNullOrEmpty(sessionTime)) {
                    deleteCookie("cookielt");
                }
                $("body").hide();
                location.reload();
            }
        }
        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted || (typeof window.performance != "undefined" && window.performance.navigation.type === 2) || IsPageHide;
            if (historyTraversal) {
                checkCookieTime();
            }
        });
        window.addEventListener("pagehide", function (event) {
            IsPageHide = true;
        });
        window.addEventListener("visibilitychange", function () {
            if (document.visibilityState == "visible") {
                checkCookieTime();
            }
        });
    </script>
</head>

<body>
    <a href="https://www.te77.net/" style="display:block; overflow: hidden; width: 0; height: 0;"></a><a
        href="https://www.ex589.com/home/" style="display:block; overflow: hidden; width: 0; height: 0;"></a><a
        href="https://www.casino5168.com/" style="display:block; overflow: hidden; width: 0; height: 0;"></a><a
        href="https://www.ex5888.com/" style="display:block; overflow: hidden; width: 0; height: 0;"></a><a
        href="https://www.mykubet.com" style="display:block; overflow: hidden; width: 0; height: 0;"></a><a
        href="https://www.kubetkubet.com" style="display:block; overflow: hidden; width: 0; height: 0;"></a><a
        href="https://www.kubetnav.com" style="display:block; overflow: hidden; width: 0; height: 0;"></a>
    <script>loading();</script>
    <div id="main-container" class="mobileHint2">

        <div class="header">

            <div id="main-header" class="bg_header ">
                <a id="a_back" class="btn_back" onclick="fnBackPage();return false;"></a>
                <span class="bg_header_logo">ĐĂNG K&#221; HỘI VI&#202;N</span>
            </div>
        </div>

        <!--有noTop样式-->

        <div class="mask_join hidden">
            <div class="popup_container">
                <div class="popup_bg">
                    <div class="popup">
                        <div class="btn_close" onclick="fnLoginData(MainUrl)"></div>
                        <div class="popup_T">
                            <span>Đăng ký</span>
                        </div>
                        <div class="popup_In">
                            <div class="joinFulfil_text">Chúc mừng quý khách đã đăng ký hội viên thành công！</div>
                            <div class="popup_button">
                                <input type="button" class="w50L bg_colorY" value="Tôi muốn nạp tiền"
                                    onclick="fnLoginData('M_Add2.aspx?embed=' + $.cookie('embed'))" />
                                <input type="button" class="w50R" value="Vào xem thử" onclick="fnLoginData(MainUrl)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function fnLoginData(url1) {
                var isPapp = $.cookie("embed") && $.cookie("embed") == "true" && $.cookie("verify");//表示为P的APP内嵌
                if (isPapp && !url1) {
                    window.setTimeout(function () { window.location.href = $.cookie("CookieBackApp"); }, 10);
                } else {
                    SendAppMessage("close");
                    var ddlAccounts;
                    if (IsTXT) {
                        ddlAccounts = $.trim($("#txtAccounts").val());
                    } else {
                        ddlAccounts = $.trim($("#ddlAccounts").val());
                    }
                    var txtPassword = $.trim($("#txtPassword").val());
                    fnLoginAdd(ddlAccounts, txtPassword, url1);
                }
            }
        </script>



        <div id="main-content" class="container_main noID">

            <div class="join_addPhone">
                <img src="/Mobile/images/main/icon_join_addPhone.svg" />
                Xác nhận số điện thoại
            </div>
            <form id="form1" class="form">

                <div id="Div2" class="divPart form_join join_members1">
                    <ul>

                        <li>
                            <div class="form_T">Tài khoản đại lý</div>

                            <input type="text" id="txtAgent" class="w100" maxlength="10" autocomplete="off"
                                onblur="checkAgent(this)" placeholder="Bỏ qua nếu không có đại lý giới thiệu"
                                value="" />

                        </li>

                        <li>
                            <div class="form_T">Tài khoản </div>

                            <div class="form_In">
                                <input type="text" id="txtAccounts" class="w100" maxlength="10" autocomplete="off"
                                    data-nofocus="false"
                                    data-checkkeyword='{"tip":"Font_txtAccountsBlur_NotOK","clear":0,"max":1}'
                                    onblur="checkAccounts2(this);" placeholder="4 ~ 10 ký tự chữ và số" />
                            </div>

                        </li>
                        <li class="li_msg">

                            <div>
                                <span id="signMsg" class="signMsg signMsg2" style="display: none;">Lưu ý : HỌ TÊN đăng
                                    ký phải trùng với TÊN TK NGÂN HÀNG để đối chiếu khi Nạp / Rút tiền</span>
                                <span id="redMsg" class="error_t" style="display: none;"></span>
                            </div>

                        </li>
                        <li style="margin-top:0px;">
                            <div class="form_T">Mật khẩu</div>
                            <div class="form_In pwON">
                                <input type="text" id="txtPassword"
                                    data-checkkeyword='{"tip":"Font_txtAccountPasswordBlur_NotOK","checkSimple":1,"max":1}'
                                    maxlength="10" scroll-id="txtPassword" autocomplete="off" class="w100"
                                    placeholder="6 ~ 10 ký tự chữ và số" />
                                <span class="icon_pw" onclick="spanPwdEye(this)"></span>
                                <span class="dep_limitedpw2 formPromot">Mật khẩu tối đa 10 ký tự !</span>
                            </div>
                        </li>
                        <li class="li_msg">
                            <span id="signMsg3" class="signMsg signMsg2" style="display: none;">Lưu ý : HỌ TÊN đăng ký
                                phải trùng với TÊN TK NGÂN HÀNG để đối chiếu khi Nạp / Rút tiền</span>
                            <span id="redMsg3" class="error_t" style="display: none;"></span>
                            <div id="txtPassword_tip" class="hidden">
                                <span id="txtimg" class="error_t"
                                    style="display: inline-block; margin-right:2%; width: 12px; height: 16px; position: absolute; background-image: url(/images/main/bubble.png); background-position: 0 -66px;"></span>
                                <span class="terms_confirm_word error_t" style="padding-left: 18px;">
                                    6 ~ 10 ký tự chữ và số
                                </span>
                            </div>
                        </li>
                        <li style="margin-top:0px;">
                            <div class="form_T">Biệt danh</div>
                            <div class="form_In">
                                <input type="text" id="txtTitle" class="w100" data-nofocus="false"
                                    data-checkkeyword='{"tip":"Font_txtTitleBlur_NotOK","clear":0,"max":1}'
                                    autocomplete="off" placeholder="Nhập tối đa 8 ký tự" />
                            </div>
                        </li>
                        <li class="li_msg">
                            <span id="signMsg2" class="signMsg signMsg2" style="display: none;">Lưu ý : HỌ TÊN đăng ký
                                phải trùng với TÊN TK NGÂN HÀNG để đối chiếu khi Nạp / Rút tiền</span>
                            <span id="redMsg2" class="error_t" style="display: none;"></span>
                        </li>
                        <li class="phone01" style="margin-top:0px;">
                            <link href="/Styles/slidercaptcha.48185d75ab3c0b78.css" rel="stylesheet" />
                            <link href="/Styles/common/font-awesome/css/font-awesome.min.0cc127b6aa5a3592.css"
                                rel="stylesheet" />
                            <style>
                                .verification_code {
                                    display: none;
                                }

                                .verification_code .ver_title {
                                    width: 100%;
                                    text-align: center;
                                    margin: 13px 0 0 5px;
                                    line-height: 30px;
                                }

                                .verification_code .ver_box {
                                    width: 100%;
                                    position: relative;
                                    margin-bottom: 20px;
                                }

                                .verification_code .ver_text {
                                    width: 100%;
                                    height: 40px;
                                    font-size: 21px;
                                    box-sizing: border-box;
                                    color: #ff9500 !important;
                                    background: #fff;
                                    border: 1px solid #c2c2c2;
                                    padding-left: 15px;
                                }

                                .verification_code .ver_error {
                                    text-align: left;
                                    color: red;
                                    line-height: 18px;
                                    font-size: .8em;
                                    padding-left: 20px;
                                    float: right;
                                    margin-top: -18px;
                                    position: relative;
                                    display: none
                                }

                                .verification_code .ver_error::after {
                                    content: "";
                                    display: block;
                                    width: 18px;
                                    height: 18px;
                                    background: url(/images/main/icon_gatherBank.png) no-repeat;
                                    background-position: -54px 0;
                                    background-size: 135px 90px;
                                    position: absolute;
                                    left: 0;
                                    top: 0
                                }

                                .verification_code .ver_img {
                                    position: absolute;
                                    right: 1px;
                                    top: 1px;
                                    height: 38px;
                                    box-sizing: border-box;
                                    cursor: pointer;
                                }

                                .verification_code .ver_send {
                                    background: #4ea6ff;
                                    color: #fff;
                                    text-align: center;
                                    padding: 0;
                                    display: block;
                                    width: 110%;
                                    height: 50px;
                                    line-height: 50px;
                                    border-radius: 5px;
                                    margin: 5px 0 0 -5%;
                                    float: left;
                                    cursor: pointer;
                                    box-sizing: border-box
                                }

                                .verification_code .ver_send:hover {
                                    background-color: #67b1fc;
                                }

                                .verification_code .ver_send.disabled {
                                    background: #aaaaaa !important
                                }

                                /*圖形驗證碼CSS*/
                                .slidercaptcha {
                                    margin: 0 auto;
                                    width: 314px;
                                    height: 286px;
                                    border-radius: 4px;
                                    box-shadow: inset 0 0 0px 50px #fff;
                                    margin-top: 40px;
                                }

                                .slidercaptcha .card-body {
                                    padding: 1rem;
                                    background-color: #fff;
                                }

                                .slidercaptcha canvas:first-child {
                                    border-radius: 4px;
                                    border: 1px solid #e6e8eb
                                }

                                .slidercaptcha.card .card-header {
                                    padding: .75rem 1.25rem;
                                    margin-bottom: 0;
                                    border-bottom: 1px solid rgba(0, 0, 0, .125);
                                    background-image: none;
                                    background-color: #fff;
                                    text-align: center;
                                    font-size: 18px;
                                }

                                .modal {
                                    display: none;
                                    position: fixed;
                                    z-index: 999999999;
                                    padding-top: 100px;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    overflow: auto;
                                    background-color: #000;
                                    background-color: rgba(0, 0, 0, 0.4)
                                }

                                .modal-content {
                                    background-color: #fefefe;
                                    margin: auto;
                                    padding: 20px;
                                    border: 1px solid #888;
                                    width: 80%
                                }

                                .isSlider .slidercaptcha,
                                .isSlider .slidercaptcha .card-body {
                                    border-radius: 15px;
                                }

                                .isSlider .slidercaptcha.card .card-header {
                                    border-radius: 15px 15px 0 0;
                                    background-color: #eee;
                                    border-bottom: none;
                                    padding: .8rem 1.25rem;
                                }

                                .isSlider .refreshIcon {
                                    background-size: 100%;
                                }

                                .isSlider .close.fa.fa-times {
                                    background-image: url(/Mobile/images/main/btn_close_gray.svg);
                                    background-size: 100% auto;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 20px;
                                    width: 20px;
                                    left: 1%;
                                }

                                .isSlider .fa-times:before {
                                    content: none;
                                }

                                .isSlider .card-header span {
                                    position: relative;
                                    left: 3%;
                                }

                                .isSlider #captcha {
                                    margin-top: 10px !important;
                                }

                                .isSlider .sliderContainer {
                                    margin-top: 0;
                                }

                                .isSlider .refreshIcon {
                                    top: 54%;
                                }

                                @media (min-width:360px) {
                                    .isSlider .slidercaptcha {
                                        width: 350px;
                                    }
                                }

                                @media (min-width:400px) {
                                    .isSlider .slidercaptcha {
                                        width: 370px;
                                    }
                                }

                                #btnContactCS {
                                    background-color: #279A32 !important;
                                }

                                #btnContactCS:disabled {
                                    background-color: #999 !important;
                                }
                            </style>
                            <style>
                                .btn_confirm_captcha {
                                    border: 0;
                                    background: none;
                                    width: 28%;
                                    background-color: #4ea6ff;
                                    box-sizing: border-box;
                                    color: #fff;
                                    cursor: pointer;
                                    font-size: 15px;
                                    outline: none;
                                    float: right;
                                    border-radius: 3px;
                                }

                                .btn_confirm_captcha:disabled {
                                    background-color: #888888 !important;
                                    color: #ffffff !important;
                                }

                                #txtCaptcha {
                                    width: 100%;
                                    float: left;
                                    position: relative;
                                    border-radius: 3px;
                                    border: 1px solid #ddd;
                                    padding: 0 8px;
                                }

                                .refresh-button {
                                    position: absolute;
                                    top: 2px;
                                    right: 5px;
                                    width: 30px;
                                    height: 35px;
                                    background: url(/images/main/icon_refresh_captcha.png)no-repeat center;
                                    background-size: 100%;
                                    cursor: pointer;
                                }

                                .captcha_error {
                                    color: red;
                                    visibility: hidden;
                                    top: 0px;
                                }

                                #captchaImg {
                                    border: 1px solid #ddd;
                                    border-radius: 3px;
                                }

                                #txtCaptcha,
                                .btn_confirm_captcha {
                                    font-size: 18px;
                                }

                                .btn_confirm_captcha {
                                    position: absolute;
                                    top: 5px;
                                    right: 5px;
                                    font-size: 14px;
                                    width: 55px;
                                    height: 27px;
                                }

                                @media (min-width: 400px) {

                                    #captchaImg,
                                    #txtCaptcha,
                                    .btn_confirm_captcha {
                                        border-radius: 5px;
                                    }
                                }
                            </style>

                            <div class="verification_code" id="verification_code">
                                <div class="ver_title">Vui lòng nhập ký tự bên dưới</div>
                                <div class="ver_box">
                                    <input type="text" maxlength="4" class="ver_text" placeholder="" />
                                    <img class="ver_img" src="/images/loading.gif" title="Nhấn vào cập nhật" />
                                </div>
                                <span class="ver_error"></span>
                                <a class="ver_send disabled">Xác nhận</a>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    var maxl = !IsCn ? 10 : 11;
                                    $("#txtPhoto,#txtPhoneCode").on("blur", function () {
                                        if (!($(this).attr('id') == "txtPhoto" && this.value.indexOf("****") > 1)) {
                                            this.value = this.value.replace(/\D/g, '');
                                            this.value = this.value.substr(0, maxl);
                                        }
                                    });
                                    $("#txtPhoto").attr("maxlength", maxl);

                                    if (!IsYn) {
                                        if (IsIphone()) {
                                            $(".card-header").css("font-weight", 500);
                                        }
                                        else {
                                            $(".card-header").css("font-weight", 900);
                                        }
                                    }

                                    $("#txtPhoto").on("keyup change", function (e) {
                                        if (this.value.indexOf("****") > 1) {
                                            this.value = '';
                                        }
                                    });
                                });
                            </script>
                            <script type="text/javascript" src="/Scripts/jquery-3.4.1.min.3d9e9643852e31a1.js"></script>
                            <script type="text/javascript"
                                src="/Scripts/longbow.slidercaptcha.5520afcb64f6e304.js"></script>
                            <script>
                                var $j = jQuery.noConflict(true);
                                var count = 0;
                                var count1 = 0;
                                var captchaWidth = 280;
                                var captchaHeight = 150;
                                var msgBoxOpenFlag = false;
                                var msgBoxOldPhone = "";
                                var isContactCSFlag = "False" == "True";
                                var isSendSms = false;

                                $j(document).ready(function ($) {
                                    InitCaptcha();//初始化验证码

                                    //字母验证码判断
                                    $("#txtCaptcha").on("blur keyup input", function (e) {
                                        checkRegeditUser2(this, 5);
                                        if ($(this).val().length > 4) {
                                            this.value = this.value.substr(0, 4);
                                        }
                                        if ($(this).val().length == 4) {
                                            $(".btn_confirm_captcha").removeAttr("disabled");
                                        } else {
                                            $('.btn_confirm_captcha').attr("disabled", "disabled");
                                        }
                                    });

                                    //点击照片刷新字母验证码
                                    $('.refresh-button').click(function () {
                                        getCaptchaNumber();
                                    });

                                    //送出 验证码
                                    $('.btn_confirm_captcha').click(function () {
                                        verifyCaptchaNumber();
                                    });
                                    if (document.location.pathname === "/Aspx/Add1.aspx" || document.location.pathname === "/Mobile/Aspx/N_Add1.aspx") {
                                        $('.Resend_ver_code, #btnSendCode, #btnSendVoice, .w100.btn_code, .w100.btn_code2').click(function (e) {
                                            if (!$(e.target).hasClass('btn_SentOut') && !$(e.target).hasClass('Resend_ver_code on hidden msg5') && !$(e.target).hasClass('w100 btn_code on hidden msg5') && e.target.id != "btnContactCS") {
                                                if (IsMPage && tioP2) {
                                                    showMsgBox();
                                                } else if (validateInput()) {

                                                    $('.sliderText').text(webRes.Font_CaptchaMsg2);
                                                    $('.slidercaptcha').show();
                                                    $('.modal').show();
                                                    isSendSms = true;
                                                }
                                            }
                                        });
                                        $('#btnContactCS, .msg5').click(function (e) {
                                            callphotoP2();
                                        });
                                    } else if (document.location.pathname === "/Mobile/Aspx/N_ForgotPassWord.aspx") {
                                        $('.btn_code, .btn_code2').click(function (e) {
                                            if (tioP2) {
                                                showMsgBox();
                                            } else {
                                                ForgotPwdSubmit();
                                            }
                                        });
                                    } else {
                                        $('.Resend_ver_code, #btnSendCode, #btnSendVoice, .w100.btn_code, .w100.btn_code2').click(function (e) {
                                            if (!$(e.target).hasClass('btn_SentOut')) {
                                                var skipValidate = $("#txtPhoto").val() != "" && $("#txtPhoto").prop("disabled");
                                                if (skipValidate || validateInput()) {
                                                    if (IsMPage && tioP2) {
                                                        showMsgBox();
                                                    } else {
                                                        callphotoP2();
                                                    }
                                                }
                                            }
                                        });
                                    }

                                    $('.close').click(function () {
                                        if ($("input").hasClass("checkSliderType")) {
                                            if ($("#checkSliderType").val() == "1") {
                                                $("#checkSliderType").val("0");
                                                $("#txtAccounts").val("");
                                            }
                                            if (IsMPage) {
                                                if (!isSendSms) {
                                                    $("#txtAccounts").val("");
                                                } else {
                                                    isSendSms = false;
                                                }
                                                fnEnableSubmit();
                                            }
                                        }
                                        if ($(".captchaNumber").is(":visible")) {
                                            getCaptchaNumber();
                                        } else {
                                            $('#captcha').sliderCaptcha("resetWithText");
                                        }
                                        $('.modal').hide();
                                    });

                                    //初始化验证码
                                    function InitCaptcha() {
                                        $.ajax({
                                            url: "/LoadData/Captcha.ashx?type=1&w=" + captchaWidth + "&h=" + captchaHeight,
                                            async: false,
                                            cache: false,
                                            type: 'POST',
                                            contentType: 'application/json',
                                            dataType: 'json',
                                            success: function (data) {
                                                if (data.Slider != null && data.Slider != "") { //如果Slider有數據,代表目前設定是滑動驗證碼
                                                    sliderCaptcha(data);
                                                    AddRemoveClass(true);
                                                } else { //如果Slider沒有數據,則是字母驗證碼
                                                    $(".captchaNumber").show();
                                                    $('#captchaImg').attr("src", data.Background);
                                                    AddRemoveClass(false);
                                                }
                                            }
                                        });
                                    };

                                    //針對滑動驗證css
                                    function AddRemoveClass(isAdd) {
                                        if (isAdd && location.href.toLowerCase().indexOf("n_add1") > -1) {
                                            $("#captchaModal").addClass("isSlider");//針對滑動驗證css
                                        } else {
                                            $("#captchaModal").removeClass("isSlider");
                                        }
                                    }

                                    //獲取滑動验证码
                                    function sliderCaptcha(data) {
                                        $(".captchaNumber").hide();
                                        $('#captcha').sliderCaptcha({
                                            width: captchaWidth,
                                            height: captchaHeight,
                                            sliderL: 42,
                                            sliderR: 9,
                                            offset: 5,
                                            loadingText: 'Loading...', // 正在加载中
                                            failedText: 'Thử lại', // 再试一次
                                            barText: 'Trượt mũi tên ghép hình', // 向右滑动填充拼图
                                            failLoadText: 'Tải thất bại', //加载失败
                                            repeatIcon: 'fa fa-redo',
                                            setSrc: function () {
                                                return '/LoadData/Captcha.ashx?type=1&w=' + captchaWidth + '&h=' + captchaHeight; //取出滑動驗證碼圖案
                                            },
                                            initsetSrc: function () {
                                                return data; //初始時 直接帶入data，取出滑動驗證碼圖案
                                            },
                                            onSuccess: function () {
                                                if ($(".captchaNumber").is(":hidden")) {
                                                    setTimeout(function () {
                                                        $('#captchaModal').hide();
                                                        if ($("input").hasClass("checkSliderType")) {
                                                            if ($("#checkSliderType").val() == "1") {
                                                                $("#checkSliderType").val("0");
                                                                validateUserName();
                                                                count1 = 0;
                                                            }
                                                            else {
                                                                callphotoP2();
                                                                count = 0;
                                                            }
                                                        }
                                                        else {
                                                            callphotoP2();
                                                            count = 0;
                                                        }
                                                        $('#captcha').sliderCaptcha('reset');//刷新滑動驗證碼
                                                    }, 500);
                                                }
                                            },
                                            remoteUrl: "/LoadData/Captcha.ashx?type=2&w=" + captchaWidth + "&h=" + captchaHeight, // 確認滑動驗證碼位置是否正確
                                            verify: function (arr, url) {
                                                var ret = false;
                                                var background = "";
                                                $.ajax({
                                                    url: url,
                                                    data: JSON.stringify(arr),
                                                    async: false,
                                                    cache: false,
                                                    type: 'POST',
                                                    contentType: 'application/json',
                                                    dataType: 'json',
                                                    success: function (result) {
                                                        if (result.Background != null && result.Background != "") { //如果background有數據,代表已更換種類,需要顯示字母驗證碼
                                                            background = result.Background;
                                                        } else { //如果background沒有數據,種類保持一樣,只回傳true或false
                                                            ret = result;
                                                        }
                                                    }
                                                });
                                                if (background.length > 0) { //如果background有數據,代表已更換種類,需要顯示字母驗證碼
                                                    count = 1;
                                                    $("#captcha,#captcha2").hide();
                                                    $(".captchaNumber").show();
                                                    $('#captchaImg').attr("src", background);
                                                    $("#txtCaptcha").val("");
                                                    $('.btn_SentOut,.btn_confirm_captcha').attr("disabled", "disabled");
                                                    ret = true;
                                                } else { //如果background沒有數據,種類保持一樣
                                                    if (ret === false) { // 驗證失敗
                                                        if ($("input").hasClass("checkSliderType")) {
                                                            if ($("#checkSliderType").val() == "1") {
                                                                count1++;
                                                            }
                                                            else {
                                                                count++;
                                                            }
                                                        }
                                                        else {
                                                            count++;
                                                        }
                                                    }
                                                    if (count === 5 || count1 === 5) { // 當拖動驗證錯誤次數達到五次，須自動關閉圖形驗證窗口
                                                        setTimeout(
                                                            function () {
                                                                $('#captchaModal').hide();
                                                                $('#captcha').sliderCaptcha('reset');
                                                                if ($("#checkSliderType").val() == "1") {
                                                                    $("#checkSliderType").val("0");
                                                                    $("#txtAccounts").val("");
                                                                }
                                                                if (count === 5) {
                                                                    count = 0;
                                                                }
                                                                else {
                                                                    count1 = 0;
                                                                }
                                                            }, 500);
                                                    }
                                                }
                                                return ret;
                                            }
                                        });
                                    }

                                    //獲取字母數字验证码
                                    var flagGetCaptcha = false;
                                    function getCaptchaNumber() {
                                        if (flagGetCaptcha) {
                                            return false;
                                        }
                                        flagGetCaptcha = true;
                                        $("#txtCaptcha").val("");
                                        $('.btn_confirm_captcha').attr("disabled", "disabled");
                                        $(".captcha_error").css("visibility", "hidden");//隱藏驗證碼錯誤
                                        $.ajax({
                                            url: "/LoadData/Captcha.ashx?type=1&w=" + captchaWidth + "&h=" + captchaHeight,
                                            async: false,
                                            cache: false,
                                            type: 'POST',
                                            contentType: 'application/json',
                                            dataType: 'json',
                                            error: function (data) {
                                                flagGetCaptcha = false;
                                            },
                                            success: function (data) {
                                                if (data.Slider != null && data.Slider != "") { //如果Slider有數據,代表已更換種類,需要顯示滑動驗證碼
                                                    $("#captcha").show();
                                                    sliderCaptcha(data);
                                                    $('#captcha').sliderCaptcha('reset'); //刷新滑動驗證碼
                                                    AddRemoveClass(true);
                                                } else {
                                                    $('#captchaImg').attr("src", data.Background); //獲取字母驗證碼照片
                                                    AddRemoveClass(false);
                                                }
                                                flagGetCaptcha = false;
                                            }
                                        });
                                    }

                                    //驗證字母數字验证码
                                    var flagVerify = false;
                                    function verifyCaptchaNumber() {
                                        if (flagVerify) {
                                            return false;
                                        }
                                        flagVerify = true;
                                        layer.closeAll();
                                        $.ajax({
                                            url: "/LoadData/Captcha.ashx?type=2&w=" + captchaWidth + "&h=" + captchaHeight,
                                            async: false,
                                            cache: false,
                                            type: 'get',
                                            contentType: 'application/json',
                                            dataType: 'json',
                                            data: { captcha: $("#txtCaptcha").val() },
                                            error: function (data) {
                                                flagVerify = false;
                                            },
                                            success: function (data) {
                                                if (data.Slider != null && data.Slider != "") {//如果Slider有數據,代表已更換種類,需要顯示滑動驗證碼
                                                    $("#captcha").show();
                                                    sliderCaptcha(data);
                                                    $('#captcha').sliderCaptcha('reset'); //刷新滑動驗證碼
                                                    $(".captcha_error").css("visibility", "hidden");//隱藏驗證碼錯誤
                                                } else if (data) { // 驗證成功
                                                    setTimeout(function () {
                                                        $('#captchaModal').hide();
                                                        if ($("input").hasClass("checkSliderType")) {
                                                            if ($("#checkSliderType").val() == "1") {
                                                                $("#checkSliderType").val("0");
                                                                validateUserName();
                                                                count1 = 0;
                                                            }
                                                            else {
                                                                callphotoP2();
                                                                count = 0;
                                                            }
                                                        }
                                                        else {
                                                            callphotoP2();
                                                            count = 0;
                                                        }
                                                        getCaptchaNumber(); //刷新字母數字驗證碼
                                                    }, 500);
                                                } else { // 驗證失敗
                                                    if ($("input").hasClass("checkSliderType")) {
                                                        if ($("#checkSliderType").val() == "1") {
                                                            count1++;
                                                        }
                                                        else {
                                                            count++;
                                                        }
                                                    }
                                                    else {
                                                        count++;
                                                    }
                                                    //getCaptchaNumber();
                                                    $(".captcha_error").css("visibility", "visible");//開啓驗證碼錯誤
                                                    $("#txtCaptcha").val("");
                                                    $('.btn_confirm_captcha').attr("disabled", "disabled");
                                                }
                                                flagVerify = false;
                                                if (count === 5 || count1 === 5) { // 當拖動驗證錯誤次數達到五次，須自動關閉圖形驗證窗口
                                                    setTimeout(
                                                        function () {
                                                            $('#captchaModal').hide();
                                                            getCaptchaNumber(); //刷新字母數字驗證碼
                                                            if ($("#checkSliderType").val() == "1") {
                                                                $("#checkSliderType").val("0");
                                                                $("#txtAccounts").val("");
                                                            }
                                                            if (count === 5) {
                                                                count = 0;
                                                            }
                                                            else {
                                                                count1 = 0;
                                                            }
                                                        }, 500);
                                                }
                                            }
                                        });
                                    }
                                });
                            </script>








                            <div class="form_T">SĐT</div>
                            <div class="form_In form_Left form_w90L ">
                                <input class="keyboard" type="tel" pattern="[0-9]*" data-number="true" id="txtPhoto"
                                    readonly maxlength="10" class="w100" value="" placeholder="10 chữ số" />
                                <div class="icon_OK" style="display:none;"></div>
                            </div>

                            <div class="form_Right divMsg2">
                                <input type="button" value="Gửi mã" class="w100 btn_code2 showMask message " />
                                <input type="button" value="Tin nhắn thoại"
                                    class="w100 btn_code2 showMask voice hidden" />
                                <input type="button" id="btnContactCS" value="Liên hệ hỗ trợ"
                                    class="w100 btn_code2 on msg5" style="display:none;" />
                            </div>
                            <div class="mask_all" id="msgBox" style="display: none;">
                                <div class="msgBox msgBox01">
                                    <div class="btn_close2" style="display: block;"></div>
                                    <div class="msgBox_T">Xác nhận qua SMS</div>
                                    <div class="msgBox_Txt">
                                        <span id="codeSentDesc">Đã gửi mã xác nhận đến </span><span
                                            id="codeSentTxt"></span>
                                        <br />
                                        <div id="voiceCodeHint" style="display:none;">
                                            <img class="img_call" src="../images/main/icon_errorHint.svg">
                                            Vui lòng chú ý để nhận cuộc gọi！
                                        </div>
                                    </div>
                                    <ul class="msgBox_Num">
                                        <li class="keySetting"></li>
                                        <li class="keySetting"></li>
                                        <li class="keySetting"></li>
                                        <li class="keySetting"></li>
                                    </ul>
                                    <div id="keyboard-key-box2"></div>
                                    <div class="form_button divMsg" style="position:relative;height:50px;">
                                        <input type="button" id="btnSendCode" value="Gửi mã xác nhận"
                                            class="w100 btn_code message  msg1" style="display:none;" />
                                        <input type="button" id="btnSendVoice"
                                            value="Gửi mã xác nhận qua tin nhắn thoại"
                                            class="w100 btn_code voice hidden msg1" style="display:none;" />
                                        <input type="button" value=" " disabled="disabled" class="w100 btn_code msg2"
                                            style="display:none;" />
                                        <div class="phoneTime msg2" style="display:none;">Gửi lại&nbsp;<span
                                                id="SecondSendCode"></span><span class="secondSend">&nbsp;s</span></div>
                                        <input type="button" value="Gửi lại" class="w100 btn_code on msg3"
                                            style="display:none;" />
                                        <input type="button" id="btnContactCS" value="Liên hệ hỗ trợ"
                                            class="w100 btn_code on msg5" style="display:none;" />
                                    </div>
                                    <div style="display:none;height=0;">
                                        <input type="text" data-number="true" id="txtPhoneCode" class="w100 noHide"
                                            style="border: none;" maxlength="4" />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="hid_SmsSort" value="1|0|1|1" />
                            <input type="hidden" id="hid_Photo" value="" />
                            <script>
                                var path = document.location.pathname;
                                $(function () {
                                    $("#txtPhoto").keyboard({
                                        type: "tel", keybox: $("#keyboard-key-box")
                                    });
                                    $("#txtPhoneCode").keyboard({
                                        type: "number",
                                        keybox: $("#keyboard-key-box2"),
                                        changeValue: function () {
                                            var codeArr = $("#txtPhoneCode").val().split("");
                                            for (var i = 0; i < 4; i++) {
                                                value = codeArr[i]
                                                if (typeof value !== "undefined") {
                                                    $(".msgBox_Num li").eq(i).html(value).addClass("on");
                                                } else {
                                                    $(".msgBox_Num li").eq(i).html("").removeClass("on");
                                                }
                                            }
                                            if (codeArr.length == 4) {
                                                if (path === "/Mobile/Aspx/N_ForgotPassWord.aspx") {
                                                    callphotoForgotSubmit();
                                                } else {
                                                    fnCodeP2();
                                                }
                                            }
                                        }
                                    });
                                    $(".btn_close2").on("click", function () {
                                        $(".mask_all").hide();
                                        clearMsgBox();
                                    });
                                    $(".btn_code, .btn_code2").on("click", function () {
                                        if ($(this).hasClass("voice") || $(this).hasClass("v")) {
                                            $(".msgBox_T").text(webRes.Font_Add1_PhoneCodeTitle_Voice);
                                            $("#codeSentDesc").text(webRes.Font_Add1_PhoneCodeSent_3);
                                            $("#voiceCodeHint").show();
                                        } else if ($(this).hasClass("message") || $(this).hasClass("m")) {
                                            $(".msgBox_T").text(webRes.Font_Add1_PhoneCodeTitle);
                                            $("#codeSentDesc").text(webRes.Font_Add1_PhoneCodeSent_2);
                                            $("#voiceCodeHint").hide();
                                        }
                                    });
                                })
                                function clearMsgBox() {
                                    $("#txtPhoneCode").val("");
                                    $(".msgBox_Num li").removeClass('on').contents().remove();
                                }
                                function showMsgBox() {
                                    if ($("#msgBox").length > 0) {
                                        msgBoxOldPhone = $.trim($("#txtPhoto").val());
                                        if (path === "/Mobile/Aspx/N_ForgotPassWord.aspx") {
                                            msgBoxOldPhone = $.trim($("#txtAccount").val());
                                        }
                                        $("#codeSentTxt").text(msgBoxOldPhone);
                                        if (!$("#keyboard-key-box2 .num_keyboard").hasClass("show")) {
                                            $("#txtPhoneCode").siblings(".keyboard-mask").click();
                                        }
                                        $(".mask_all").show();
                                    }
                                }
                                function hideMsgBox() {
                                    if ($("#msgBox").length > 0) {
                                        $(".mask_all").hide();
                                    }
                                }
                                function verifyMsgBox() {
                                    $(".icon_OK").show();
                                    $(".divMsg2").hide();
                                    if (path === "/Mobile/Aspx/N_ForgotPassWord.aspx") {
                                        $("#txtAccount").prop("disabled", true);
                                        $("#ddlType").attr("disabled", true);
                                        if ($("#txtUser").length > 0) {
                                            $("#txtUser").attr("disabled", true);
                                        }
                                    } else {
                                        $("#txtPhoto").prop("disabled", true);
                                    }
                                    $("#msgBox").hide();
                                }
                                function resetVerifyMsgBox() {
                                    $(".icon_OK").hide();
                                    $(".divMsg2").show();
                                    if (path === "/Mobile/Aspx/N_ForgotPassWord.aspx") {
                                        $("#txtAccount").prop("disabled", false);
                                    } else {
                                        $("#txtPhoto").prop("disabled", false);
                                    }
                                    clearMsgBox();
                                }
                            </script>


                            <script>var IsTest = "False" == "True"; var f_photo = ""</script>
                        </li>
                    </ul>
                    <div id="keyboard-key-box" class="form_In keySetting"></div>
                    <div class="term">
                        <div id="f_isPhoneMsg" class="btn_confirm on"></div>
                        <span class="termText">Nhận thông tin khuyến mãi qua tin nhắn điện thoại</span>
                    </div>
                    <div class="term">
                        <div id="ckb1" class="btn_confirm on"></div>
                        <span class="termText">
                            Tôi đã đủ 18 tuổi , đồng ý tuân thủ quy tắc đặt cược và&nbsp;<a href="javascript:showTnC();"
                                class="t_blue">điều khoản hội viên</a>
                        </span>
                    </div>
                    <div class="form_button">
                        <input type="button" class="w100" value="Xác nhận" disabled="disabled" id="btnSend" />
                    </div>
                    <input type="hidden" id="type" value="submit" />
                    <input type="hidden" value="0" id="checkSliderType" class="checkSliderType" />
                    <input type="hidden" id="embed" value="" />
                    <input type="hidden" id="hidTempAgent" value="D51" />
                    <input type="hidden" id="hidTempAccounts" />
                    <input type="hidden" id="hid_f_isPhoneMsg" />
                    <input type="hidden" id="hidIsFromAgent" value="0" />
                </div>
                <div id="captchaModal" class="modal">
                    <div class="slidercaptcha card">
                        <div class="card-header">
                            <span>Xác nhận bảo mật</span>
                            <span class="close fa fa-times" style="float:right;cursor:pointer;font-size:18px;"></span>
                        </div>
                        <div class="card-body">
                            <div id="captcha"></div>
                            <div class="input_info captchaNumber" style="display:none">
                                <div class="input_title" style="line-height:0px;margin-bottom:8px;"><img id="captchaImg"
                                        src="" /><i class="refresh-button"></i></div>
                                <div style="position:relative;float:right;width:100%;">
                                    <input id="txtCaptcha" spellcheck="false" type="text" class="input_box"
                                        autocomplete="off" maxlength="4" scroll-id="txtCaptcha"
                                        placeholder="Mã xác nhận" />
                                    <input type="button" value="Gửi" class="btn_confirm_captcha" disabled="disabled" />
                                </div>
                                <br /><span class="captcha_error">Mã xác nhận sai</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_Line joineLINE" style="display:none;">
                    <div class="line_Close" onclick="$('.btn_Line').hide();"></div>
                    <img src="" onclick="fnOpenNew(lineBanner_link)" />
                </div>
            </form>
            <script type="text/javascript">
                var Agent1 = "D51";//判断代理
                var ddl1 = false;
                var site = "5";
                var submitFlag = false;
                var isRegisterOpen = "True" == "True";
                var IsJudgePhone = IsTrue("True");
                var IsPhonePass = IsTrue("False");
                var lineBanner_regImg = "";
                var lineBanner_link = "";
                $(function () {
                    if ($.cookie("registerData")) {
                        var registerData = $.cookie("registerData");
                        $("#txtAgent").val(registerData.split("|")[0]);
                        $("#txtAccounts").val(registerData.split("|")[1]);
                        $("#txtTitle").val(registerData.split("|")[2]);
                        $("#txtPassword").val(registerData.split("|")[3]);
                        $("#txtPhoto").val(registerData.split("|")[4]);
                        if (registerData.split("|")[5] == 1) {
                            verifyMsgBox();
                        }
                        if (registerData.split("|")[6] == "false") {
                            $("#f_isPhoneMsg").removeClass("on")
                        }
                        if (registerData.split("|")[7] == "false") {
                            $("#ckb1").removeClass("on")
                        }

                        fnEnableSubmit();
                        $("#txtAgent").size() > 0 && checkAgent(document.getElementById("txtAgent"));
                        validateUserName();
                        $.cookie("registerData", "");
                    }
                    $("#main-footer").remove();
                    if (!isRegisterOpen) {
                        $.fn.alert(webRes.Font_RegisterCloseMsg, function () {
                            fnBack('/Mobile/Aspx/M_Index.aspx')
                        });
                    }
                    fnDiv(2);
                    initAdd1();
                    fnOn("#f_isPhoneMsg,#ckb1");//点击切换样式
                    $("#ckb1").click(function () {
                        fnEnableSubmit();
                    });
                    //绑定TXT输入
                    fnBindTitleOn($('#txtTitle'));
                    $("#ddlAccounts").click(function () {
                        ddl1 = true;
                    });
                    $("#txtPassword").on("keydown input", function (e) {
                        var txt = $(this).val();
                        if ((e.type == "input" && txt.length > 10) || (e.type == "keydown" && txt.length >= 10 && ((e.which >= 48 && e.which <= 57) || (e.which >= 65 && e.which <= 90) || (e.which >= 96 && e.which <= 111) || (e.which >= 186 && e.which <= 192) || (e.which >= 219 && e.which <= 222) || e.which == 229))) {
                            $('.dep_limitedpw2').show();
                        }
                        else if (e.type != "input") {
                            $('.dep_limitedpw2').hide();
                        }
                    });
                    $("#txtPassword").on("keyup change input", function () {
                        checkRegeditUser2(this, 5);
                        var txt = $(this).val();
                        $(this).removeClass("inputred");
                        if (txt !== "") {
                            if (txt.length > 10) {
                                $('#dep_limitedpw2').show();
                                txt = txt.substr(0, 10);
                                $(this).val(txt);
                            }
                            if (pdPass(txt)) {
                                showTip(true);
                            } else {
                                showTip(false);
                            }
                        } else {
                            showTip(true);
                            $('.dep_limitedpw2').hide();
                        }
                        layer.close(layerTipsIndex1);
                        fnEnableSubmit();
                    });
                    $("#txtPassword").blur(function () {
                        checkRegeditUser2(this, 5);
                        var txt = $(this).val();
                        if (txt === "") {
                            $(this).removeClass("inputred");
                            showTip(true);
                            $('.dep_limitedpw2').hide();
                        } else {
                            if (pdPass(txt)) { fn_AccountIsSamePwd(); }
                            if (txt.length >= 10) {
                                $(this).val(txt.substr(0, 10));
                                showTip(true);
                                $('.dep_limitedpw2').hide();
                            }
                        }
                        fnEnableSubmit();
                    });
                    $("#txtTitle").on("keyup change input blur", function () {
                        if ($("#txtTitle").val() != "") {
                            $("#redMsg2").hide().closest("li").removeClass("error");
                        }
                        fnEnableSubmit();
                    });
                    $("#btnSend").on("click", function () {
                        checkAccounts($("#txtAccounts")[0]);
                        if (!fnEmptyTip()) {
                            return false;
                        }
                        fnSubmitAdd1P2();
                    });
                    $("#txtAccounts").on("input keyup afterpaste", function () {
                        if ($.cookie("UserNameBlurName_" + site)) {
                            $.cookie("UserNameBlurName_" + site, "");
                            $("#checkSliderType").val("0");
                        }
                        fn_txtAccountsPd();
                        fnEnableSubmit();
                    });
                    $("#txtAccounts").on("blur focus", function (event) {
                        var e = event || window.event || arguments.callee.caller.arguments[0];
                        if ($.cookie("UserNameBlurName_" + site) != $("#txtAccounts").val()) {
                            checkAccounts(this);
                            setTimeout(function () {
                                if ($(".layui-layer-dialog").length <= 0) {
                                    $.ajax({
                                        url: "/LoadData/AddMemberCheck.ashx",
                                        type: "post",
                                        data: { "checkType": "checkBlurCount2" },
                                        cache: false,
                                        timeout: 15000,
                                        error: function () {
                                        },
                                        success: function (msg) {
                                            if (parseInt(msg) < 2) {
                                                $.cookie("UserNameBlurName_" + site, $("#txtAccounts").val());
                                            }
                                        }
                                    });
                                }
                            }, 200);
                        }
                    });
                    if ($("#msgBox").length > 0 && isContactCSFlag) {
                        showMsgP2(5)
                    }

                    window.setInterval("GetAgentSetting()", time1);
                    if (lineBanner_regImg && lineBanner_regImg != "") {
                        $(".btn_Line").show();
                    }
                });

                //提交
                function fnSubmitAdd1_click() {
                    if (submitFlag) {
                        return;
                    }
                    if (!isRegisterOpen) {
                        $.fn.alert(webRes.Font_RegisterCloseMsg, function () {
                            fnBack('/Mobile/Aspx/M_Index.aspx')
                        });
                    }
                    else {

                        var str = $("#form1").serialize2();
                        submitFlag = true;
                        $.fn.loading();
                        $.ajax({
                            url: "N_Add1.aspx",
                            data: str,
                            type: "post",
                            cache: false,
                            timeout: 15000,
                            error: function (e) {
                                submitFlag = false;
                                $.fn.closeloading();
                                if (e.status == 599 || e.status == 429) {
                                    $.fn.alert(webRes.Font_Register_IPBlocked + "！！<br>" + e.responseText.replace('blocked ', ''));
                                } else {
                                    $.fn.alert('Giao diện xảy ra lỗi, vui lòng liên hệ hỗ trợ！！');
                                }
                            },
                            success: function (data) {
                                $.fn.closeloading();
                                if (data === "1") {
                                    sendPApp();//通知P的APP请求登录
                                    mask_join(1);//成功
                                } else {
                                    if (data == webRes.Font_sSTR6_PhotoRepeat) {
                                        $.fn.alert(data, function () { window.location.href = '/Mobile/Aspx/N_Add1.aspx'; })
                                    } else if (data == webRes.Font_LoginDomainBlocked) {
                                        $.fn.alert(webRes.Font_LoginDomainBlocked, function () {
                                            fnBack('/Mobile/Aspx/M_Index.aspx')
                                        });
                                    } else if (data == webRes.Font_ReferralNotValid) {
                                        $.fn.alert(webRes.Font_ReferralNotValid, function () {
                                            fnBack('/Mobile/Aspx/M_Index.aspx')
                                        });
                                    } else {
                                        $.fn.alert(data);
                                    }
                                }
                                submitFlag = false;
                            }
                        });
                    }
                }

                //P的APP传递通知
                function sendPApp() {
                    if ($.cookie("embed") && $.cookie("embed") == "true" && $.cookie("verify")) {
                        window.location.href = 'about:DL|' + $.cookie("verify");
                    }
                }

                function mask_join(flag) {
                    if (flag === 1) {
                        SendAppMessage("open");
                        $("#a_back").removeAttr("onclick");
                        fnLoginData(MainUrl);
                    } else {
                        SendAppMessage("close");
                        $(".mask_join").hide();
                    }
                }
                //帐号密码
                function showTip(flag) {
                    if (flag) {
                        $("#redMsg3").hide().closest("li").removeClass("error");
                    } else {
                        $("#redMsg3").text(webRes.Font_Add1_PwEmpty).show().closest("li").addClass("error");
                    }
                }

                //显示下一个div
                function fnDiv(num) {
                    $(".divPart").hide();
                    $("#Div" + num).show();
                    $("html, body").animate({ scrollTop: 0 }, 120);
                    if (num == 2) {
                        $(".join_addPhone").hide();
                    }
                }

                function showTnC() {
                    setTimeout(function () {
                        if ($("#captchaModal").css("display") != "block" && $("#signMsg").css("display") != "block" && $("#signMsg2").css("display") != "block" && $("#signMsg3").css("display") != "block") {
                            $.cookie("registerData", $("#txtAgent").val() + "|" + $("#txtAccounts").val() + "|" + $("#txtTitle").val() + "|" + $("#txtPassword").val() +
                                "|" + $("#txtPhoto").val() + "|" + $(".icon_OK:visible").length + "|" + $("#f_isPhoneMsg").hasClass("on") + "|" + $("#ckb1").hasClass("on"));
                            fnBack('N_AddRule.aspx');
                        }
                    }, 700)
                }

                function checkAccounts2(obj) {
                    checkAccounts(obj);
                    fnEnableSubmit();
                }

                function fnEnableSubmit() {
                    $("#btnSend").attr("disabled", true);
                    var acc = $.trim($("#txtAccounts").val()).replace(/[^\a-\z\A-\Z0-9]/g, "").toUpperCase();
                    if (acc == "" || $("#txtAccounts").val().length < 4 || $("#txtAccounts").val().length > 10) {
                        return;
                    }
                    if ($("#txtPassword").val() == "") {
                        return;
                    }
                    if ($("#txtTitle").val() == "") {
                        return;
                    }
                    if ($("#signMsg:visible").length > 0) {
                        return;
                    }
                    if ($("#txtPassword_tip:visible").length > 0 && $("#txtPassword_tip:visible").hasClass("on")) {
                        return;
                    }
                    if (IsJudgePhone) {
                        if ($(".icon_OK:visible").length != 1) return;
                    } else {
                        var txtPhoto = $.trim($("#txtPhoto").val());
                        if (txtPhoto == '') return;
                        if (!checkPhoneNumber(txtPhoto)) return;
                    }
                    if (!$("#ckb1").hasClass("on")) {
                        return;
                    }
                    if ($("#redMsg:visible, #redMsg2:visible, #redMsg3:visible").length > 0) {
                        return;
                    }
                    $("#btnSend").attr("disabled", false);
                }
            </script>

        </div>

        <input type="hidden" id="PageName" value="add1" />
        <input type="hidden" id="isFMajor" value="False" />
        <script type="text/javascript">
            var isRegisterOpen = "True" == "True"; var IsTest = IsTrue("False"); var Is666 = "False" == "True"; var Is111 = "False" == "True"; var Font_Xxts = "JSS77"; gameCode = 5; pageNamex = "n_add1.aspx"; isNativeAppNew = IsTrue("False"); isNativeApp = IsTrue("False");
            var dlAppEle; var LogoName = "THA"; var IsLoginVerifyShowPhone = IsTrue("False"); var IsHideUsernamePassword = IsTrue("False"); f_account = "";
            var t = "JgYOr/IY29431zPPr68MqSt9AsZyLAqV6J03+cYj3o/+TEceDjAgtzNXjxl1rwm1HiWGwqzn1Q3nBqTWuRt0k5L0qSUKX5+3dgvkhwXDIzDGgrA7db7amP1h+zBWF7pyQM5KdQIak2xMT90WqsZssiXERyL20yJUKKh5hy87BNeWZTc3bf0QrXLaPfzLKA/K2E9iyPCOZLSg";
            var SiteName = "TS77";
            var isLineApp = navigator.userAgent.indexOf("Line") > -1; // Line 內建瀏覽器
            $(function () {
                if (isLineApp && window.location.href.toLowerCase().indexOf("openexternalbrowser") == -1) { //如果是Line內建瀏覽器，跳轉打開使用手機默認瀏覽器
                    var currentUrl = window.location.href;
                    var queryString = 'openExternalBrowser=1';

                    if (currentUrl.includes('?')) {
                        window.location.href = currentUrl + '&' + queryString;
                    } else {
                        window.location.href = currentUrl + '?' + queryString;
                    }
                }
                if (window.location.href.toLowerCase().indexOf("chgbank") == -1 && window.location.href.toLowerCase().indexOf("tutorial") == -1) {
                    $.cookie("BankData", null);
                }


                $(".app_close").click(function () {
                    $(".header_app").remove();
                    $(".container_main.noID").css("margin-top", "45px");
                    $(".container_main").css("margin-top", "88px");
                    $(".btn_header_menu_open").css("top", "48px");
                    $(".inforMDrop").css("top", "88px");
                    $.cookie("app_close", 0);
                });
                if ($.cookie("app_close") != 0 && $(".header_app").length) {
                    $(".header_app").show();
                }
                if (!$(".header_app").is(":hidden") && $(".header_app").length) {
                    $(".container_main.noID").css("margin-top", "90px");
                    $(".container_main").css("margin-top", "143px");
                    $(".btn_header_menu_open").css("top", "103px");
                    $(".inforMDrop").css("top", "143px");
                }


                $(".btn_homeVIP,.btn_ADdlNew").click(function () {
                    fnBack('');
                });

                $(".btn_footer_DW").click(function () {
                    var ignorePage = ["mypurse", "deposit", "withdraw_tw", "withdraw_cn", "withdraw_yn"];
                    if ($(".btn_footer_DW").hasClass("on") && !ignorePage.includes(PageName2)) {
                        $(".btn_footer_DW").removeClass("active");
                    }
                    if ($("#txtRemittanceNameBubble:visible").length) { //变更资料页面
                        $("#txtRemittanceNameBubble").hide();
                    }
                });


                HideFiveLink();


                //账号触摸放大显示
                //$(".icon_inforID > div:not(.icon_inforMail)").click(function () {
                //    $(this).toggleClass("on");
                //});
                $(document).bind('click touchend', function (e) {
                    var target = $(e.target);
                    if (target.closest('.icon_inforID > div').length == 0) {
                        $('.icon_inforID > div:not(.icon_inforMoney)').removeClass("on");
                    }
                });
                if (IsYn) {
                    $("#txtUser").on("blur", function () {
                        this.value = GetV2E(this.value);
                    });
                }
                setTimeout(function () { closeloading(); }, 200);

                if (!IsIphone() || IsAdr()) {//安卓手机浮水印跟苹果有相差 - 这里只给安卓手机
                    $(".inputTBig").addClass("adr");
                }

                $(".btn_ADdl").click(function () {
                    fnBack("M_ShareApp.aspx");
                });

                window.addEventListener("message", function (evt) {
                    var targetOrigin = evt.origin;

                    if (targetOrigin.indexOf(window.location.host) == -1) {
                        return;
                    }

                    switch (evt.data) {
                        case "logout": //登出
                            fnOut();
                            break;
                    }
                });

                $(".btn_search").on("click", function () {
                    $("#recordSearch").show();
                });

                $(".popupS_T,.popupS_In").on("click", function () {
                    event.stopPropagation();
                });

                $(".popup_close,.popup_bg").on("click", function () {
                    $("#recordSearch").hide();
                });

                //第三方電子游戲大廳不顯示額度下拉

            });
        </script>
    </div>


</body>

</html>